# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.turbo/

#Documentation
ARCHITECTURE.md
CONTRIBUTING.md
PLAN.md
SECURITY.md
NOTICES.md



# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
